body {
    margin: 0px;
    width: 100%;
    background-color: rgb(25, 24, 24);

}



* {
    box-sizing: border-box;
    font-family: 'MKX Title', serif;
}

hr{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
     margin-bottom: 40px;
}
#curtain {
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 50;
    position: relative;
   

}

#curtain img{

    width: 100%;
    height: 100%;
    transition-property: opacity;
    position: absolute;
      

}

/* Definently not copied from W3 Schools */
@keyframes myAnimation {
  from {opacity: 1;}
  to {opacity: 0.5;}
}

.curtainText{
    position: absolute;
    z-index: 53;
    color: rgb(203, 200, 200);
    bottom: 5%;
    left: 10%;
    font-size: 8rem;
    display: flex;
    letter-spacing: 7px;
  
animation-name: myAnimation;
  animation-duration: 4s;
   animation-iteration-count: infinite;
   animation-direction: alternate;

}

.slideUpAnimation {
    transition-duration: 5s;
    position: absolute;
    z-index: 5;
    transform: translateY(-100%);
}

.fadeInAnimation{
    opacity: 100%;
    transition-duration: 5s;
    
}

.fadeOutAnimation{
    opacity: 0%;
    transition-duration: 5s;
    
}







#mainPage {
    display: none;

}

#header {

    border: solid black 2px;
    width: 100%;
    display: flex;
    height: 17vh;
    background-color: black;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    justify-content: center;
    gap: 10px;
   
    border: solid rgb(72, 71, 71) ;

}

.headerText{
    color: white;
     font-weight: 2;
      font-size: 60px;
}


#header img {
    height: 70%;
}

#logo {

}

/* "choose your fighter text" */
.titleText {
    font-weight: 20;
    color: rgb(254, 254, 254);
    text-align: center;
    font-size: 100px;
    margin: 0px;
    margin-bottom: 30px;
}


/* Div that will open up to showcase the variations */
#mainDisplay {
    display: none;
    width: 100%;
   
    border: solid rgb(177, 213, 240) 2px;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    overflow: hidden;
    overflow-y: auto; 
    margin-bottom: 30px;
    padding: 20px;
    font-size: 100%;
    transition-duration: 4s;
    transition-property: height;

}




.displayBio, .variationDescriptionText, .variationNameText{
    margin: 0px;
    display: flex; 
    align-items: center;
    padding-left: 20px;
    margin-bottom: 20px;
}

.displayBio{
    color: white;
   
    width: 65%;

    display: flex;
    
    font-size: 2em;
    align-items: center;
    
}

.variationNameText{
    color: white;  
    font-size: 4rem;
    color: rgb(249, 124, 124);
   
  
   
}

.variationDescriptionText{
    /* border: solid blue; */
     color: white;
     font-size: 2rem;
   
    
}



/* navbar used to select between base game or dlc characters */
#navbar {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    border: solid purple 2px;
    margin-bottom: 30px;
}

.navbarText {
    margin: 0px;
    color: white;
    border: solid red 2px;

}

/* grid that actaully holds charactert cards */
#characterGrid {

    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    row-gap: 20px;
    column-gap: 10px;
    


}

/* each card in the grid */
.card {
    grid-column: span 1;
    grid-row: span 1;
    aspect-ratio: 1;
    background-image: linear-gradient(rgb(59, 58, 58), rgb(10, 9, 9));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    object-fit: contain;
    position: relative;
    overflow: hidden;
    border: 1px solid lightblue;


}


.card img {
    height: 100%;
    position: absolute;
    z-index: 1;
}


.cardNameText {
    margin: 0px;
    color: rgb(255, 254, 254);
    margin-bottom: 10%;
    z-index: 2;

}

.variationDivContainer{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(7, 19, 19, 0.616);
    z-index: 5;
    display: none;
    flex-direction: column;
    justify-content: space-around;
 
}

.active-card{
    

}

.active-variation{
    background-color: rgb(7, 30, 238);
}

.variationThird{
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.variationThird:hover{
    background-color: rgba(18, 29, 68, 0.565);
}

.variationText{

    color:rgb(74, 135, 221);
    font-size: 2rem;
}




